# Neon PostgreSQL Database Credentials Template
DATABASE_URL="postgresql://user:password@host/neondb?sslmode=require"
DATABASE_URL_UNPOOLED="postgresql://user:password@host_unpooled/neondb?sslmode=require"

# Postgres connection parameters
PGHOST="your-pg-host"
PGHOST_UNPOOLED="your-pg-host-unpooled"
PGUSER="neondb_owner"
PGDATABASE="neondb"
PGPASSWORD="your-password"

# Vercel / Neon Postgres Integration parameters
POSTGRES_URL="postgresql://user:password@host/neondb?sslmode=require"
POSTGRES_URL_NON_POOLING="postgresql://user:password@host_unpooled/neondb?sslmode=require"
POSTGRES_USER="neondb_owner"
POSTGRES_HOST="your-pg-host"
POSTGRES_PASSWORD="your-password"
POSTGRES_DATABASE="neondb"
POSTGRES_URL_NO_SSL="postgresql://user:password@host/neondb"
POSTGRES_PRISMA_URL="postgresql://user:password@host/neondb?connect_timeout=15&sslmode=require"
